/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@font-face {
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI'), url('../fonts/segoeui.woff') format('woff');
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Segoe UI';
}

.top{
	background: #eaeaea;
	@media screen and (max-width: 767px) {
		height: 33px;
	}
	.cols{
		float: left;
		margin-right: 20px;
		a{
			text-decoration: none;
			color: #6e6e6e;
		    padding-left: 35px;
		    padding-top: 5px;
    		padding-bottom: 10px;
    		display: block;
    		@media screen and (max-width: 768px) {
    			font-size: 12px;
    		}
    		&:hover{
    			text-decoration: underline;
    		}
		}
	}
	.email{
		a{
			background: url(../img/ico-email.png) no-repeat left;
		}
	}
	.cs{
		a{
			background: url(../img/ico-phone.png) no-repeat left;
		}
	}
	.confirm{
		@media screen and (max-width: 768px) {
			margin-right: 10px;
		}
		a{
			background: #ffadaf;
			color: #000;
			text-transform: uppercase;
			font-weight: bold;
			padding: 5px 25px 10px;
			@media screen and (max-width: 768px) {
				padding: 10px 5px;
				font-size: 11px;
			}
		}
	}
	.notif{
		@media screen and (max-width: 768px) {
			margin-right: 0px;
		}
		a{
			background: url(../img/ico-bell.png) no-repeat left;
			@media screen and (max-width: 768px) {
			    font-size: 11px;
			}
		}
	}
	.cols-act{
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 500;
		.cols{
		    margin: 5px 0;
			padding: 0 10px;
			@media screen and (max-width: 768px) {
				padding: 0 5px;
			}
			a{
				padding: 0;
				@media screen and (max-width: 768px) {
					font-size: 11px;
				}
			}
			&:first-child{
				border-right: 1px solid #333;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}

.nav-wrapper{
	.desktop{
		padding: 30px 0;
		.col-left{
			padding-top: 15px;
			.logo{
				display: inline-block;
			}
			.menus{
				display: inline-block;
				margin-left: 30px;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						float: left;
						text-transform: uppercase;
						margin-right: 30px;
						a{
							color: #ffadaf;
							text-decoration: none;
							&:hover{
								color: #6e6e6e;
							}
						}
					}
				}
			}
		}
		.col-right{
			.search-wrapp-col{
				width: 80%;
			    float: left;
			    margin-right: 10px;
			}
			.search-wrap{
				float: right;
				width: 80%;
				.search{
					position: relative;
					input{
						background: #f5f9fc;
						border: 1px solid #eee;
						padding: 10px;
						border-radius: 5px;
						width: 100%;
					}
					button{
						position: absolute;
						background: none;
						border: none;
					    right: 5%;
   						top: 25%;
					}
				}
			}
			.list-ico-wrap{
			    width: 15%;
    			float: left;
			}
			.list-ico{
				margin-top: 15px;
				float: right;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						display: inline-block;
						position: relative;
						margin-right: 20px;
						&:last-child{
							margin-right: 0;
						}
						.info{
							position: absolute;
							right: -5px;
    						top: -10px;
    						font-size: 10px;
    						text-align: center;
							background: #ffadaf;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							color: #6e6e6e;
							font-family: 'Roboto', sans-serif;
						}
					}
				}
			}
		}
	}
	.mobile{
		.search-wrap{
			.search{
				position: relative;
				input{
					background: #f5f9fc;
					border: 1px solid #eee;
					padding: 10px;
					border-radius: 5px;
					width: 100%;
				}
				button{
					position: absolute;
					background: none;
					border: none;
				    right: 5%;
						top: 25%;
				}
			}
		}
		.navbar{
			background: #fff !important;
			border: none;
		}
		.navbar-header{
			padding: 10px 0;
		}
		.navbar-toggle{
			margin-right: 0;
		}
		.logo{
			margin-top: 15px;
		}
		.list-ico-wrap{
    		float: right;
			}
			.list-ico{
				margin-top: 15px;
				ul{
					padding: 0;
					margin: 0;
					li{
						list-style: none;
						display: inline-block;
						position: relative;
						margin-right: 20px;
						.info{
							position: absolute;
							right: -5px;
    						top: -10px;
    						font-size: 10px;
    						text-align: center;
							background: #ffadaf;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							color: #6e6e6e;
							font-family: 'Roboto', sans-serif;
						}
					}
				}
			}
	}
}

.top-banner{
	.slider-wrapper{
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 30px;
		.prev{
			position: absolute;
			top: 50%;
			z-index: 9;
			background: url(../img/arrow-prev.png) no-repeat;
			text-indent: -9999px;
			width: 30px;
			height: 40px;
			cursor: pointer;
		}
		.next{
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 9;
			background: url(../img/arrow-next.png) no-repeat;
			text-indent: -9999px;
			width: 30px;
			height: 40px;
			cursor: pointer;
		}
		.slidex{
			.image{
				img{
					width: 100%;
					object-fit:cover;
				}
			}
		}
	}
}

.news-product-wrapper{
	margin-top: 15px;
	.tagline{
		h3{
			font-family: 'Segoe UI';
			font-size: 18px;
			font-weight: bold;
			position: relative;
			&:after{
				width: 50px;
				height: 2px;
				background: #333;
				content: "";
				position: absolute;
			    bottom: -10px;
			    left: 0;
			}
		}
	}
	.more{
		text-align: right;
		a{
			text-decoration: none;
			color: #ffadaf;
		}
		i{
			margin-left: 15px;
			color: #6e6e6e;
		}
	}
	.list-kategori{
		.block{
			background: url(../img/bg-kategori.jpg) no-repeat;
			height: 146px;
			background-size: cover;
			overflow: hidden;
			.bg{	
				a{
					display: block;
					color: #555;
					padding-top: 20px;
					.left{
						.img{
							text-align: center;
							img{
								display: inline-block;
								height: 110px;
							}
						}
					}
					.right{
						.txt{
							text-transform: uppercase;
							font-size: 24px;
							font-weight: 500;
							line-height: normal;
						}
						.btn{
							margin-top: 10px;
							background: #ffadaf;
						}
					}
				}
			}
		}
	}
	.list-product-wrapper{
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 30px;
    	margin-bottom: 15px;
    	margin-top: 30px;
		.product-wrap{
			.slick-disabled{
			    cursor: default !important;
    			opacity: 0.5;
			}
			.prev{
				position: absolute;
				top: 35%;
				left: 10px;
				z-index: 9;
				background: url(../img/arrow-prev.png) no-repeat;
				text-indent: -9999px;
				width: 30px;
				height: 40px;
				cursor: pointer;
			}
			.next{
				position: absolute;
				top: 35%;
				right: 10px;
				z-index: 9;
				background: url(../img/arrow-next.png) no-repeat;
				text-indent: -9999px;
				width: 30px;
				height: 40px;
				cursor: pointer;
			}
			.block{
				a{
					display: block;
					text-decoration: none;
					color: #6e6e6e;
					padding: 0 10px;
					.img{
						margin-bottom: 20px;						
						img{
						border: 1px solid #eaeaea;
						    width: 100%;
    						height: 252px;
							object-fit:cover;
						}
					}
					.title{
						margin-bottom: 10px;
						span{
							font-weight: 600;
						}
					}
					.price{
				 		color: #ffadaf;
				 		font-weight: 600;
					}
					.disc{
						font-size: 12px;
					}
				}
			}
		}
	}
}

.banner-img{
	margin: 20px 0;
	.img{
		img{
			width: 100%;
			object-fit:cover;
			height: 200px;
		}
	}
}

.before-footer-wrapper{
	.cols{
		.block{
			margin-bottom: 50px;
			.title{
				text-transform: uppercase;
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 30px;
				color: #555555;
			}
			.col-wrap{
				.img{
					display: inline-block;
					margin-bottom: 5px;
    				margin-right: 1px;
    				@media screen and (max-width: 480px) {
    				    width: 80px;
    					margin-right: 3px;
    				}
				}
			}
		}
	}	
}

.pink-wrapper{
	background: #ffadaf;
	padding: 20px 0;
	.cols{
		@media screen and (max-width: 480px) {
			height: 180px;
			text-align: center;
			&:nth-child(2){
				.block{
					border: none;
				}
			}
			&:nth-child(3){
				height: auto;
			}
			&:last-child{
				height: auto;
			}
		}
		&:last-child{
			.block{
				border: none;
			}
		}
		.block{
			color: #fff;
			border-right: 1px solid #fff;			
			.img{
				font-size: 40px;
			}
			.txt{
				h4{
					font-weight: bold;
					margin-bottom: 0;
				}
				a{
					color: #fff;
				}
			}
		}
	}
}

.top-bottom-wrapper{
	padding: 50px 0 30px;
	.logo{
		@media screen and (max-width: 480px) {
			text-align: center;
		}
		.img{
			@media screen and (max-width: 480px) {
				display: inline-block;
			}
		}
	}
	.sosmed-wrap{
		@media screen and (max-width: 480px) {
			margin: 20px 0;
		}
		.block{
			@media screen and (max-width: 480px) {
				float: none !important;
				    margin-top: 40px;
			}
			p{
				display: inline-block;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
				color: #555;
				margin-right: 20px;
				@media screen and (max-width: 480px) {
					display: block;
					text-align: left;
					border-bottom: 1px solid #555;
					padding-bottom: 10px;
					margin-bottom: 20px;
				}
			}
			ul{
				display: inline-block;
				padding: 0;
				margin: 0;
				li{
					list-style: none;
					display: inline-block;
					font-size: 20px;
					margin-right: 20px;
					@media screen and (max-width: 480px) {
						font-size: 30px;
						margin-right: 40px;
						&:last-child{
							margin-right: 0;
						}
					}
					a{
						color: #697687;
					}
				}
			}
		}
	}
}

.footer{
	background: #eaeaea;
	padding: 50px 0;
	.cols{
		color: #697687;
		font-family: 'Roboto', sans-serif;
		.title{
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
			border-bottom: 1px solid #555;
			padding-bottom: 5px;
			margin-bottom: 10px;
			color: #555;
		}
		.desc{
			.list-block{
				font-weight: 500;
				i{
					margin-right: 10px;
					margin-top: 10px;
				}
				a{
					color: #697687;
				}
			}
		}
		.menus{
			ul{
				padding: 0;
				margin: 0;
				li{
					list-style: none;
					text-transform: capitalize;
					font-weight: 500;
					margin: 20px 0;
					a{
						color: #697687;
						text-decoration: none;
					}
				}
			}
		}
		.blog-wrapper{
			.block{
				margin-bottom: 20px;
				.img{
					padding-right: 0;
					img{
						width: 100%;
						object-fit:cover;
						height: 57px;
					}
				}
				.text{
					text-transform: capitalize;
					font-weight: 500;
					line-height: normal;
					a{
						color: #697687;
					}
				}
				.date{
					font-size: 10px;
				}
			}
		}
	}
}
.bottom-footer{
	background: #555555;
	color: #fff;
	padding: 10px 0;
	p{
		margin-bottom: 0;
	}
}