/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("../fonts/segoeui.woff") format("woff");
}
/* line 12, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/print.scss */
body {
  font-family: 'Segoe UI';
}

/* line 21, ../sass/print.scss */
.top {
  background: #eaeaea;
}
@media screen and (max-width: 767px) {
  /* line 21, ../sass/print.scss */
  .top {
    height: 33px;
  }
}
/* line 26, ../sass/print.scss */
.top .cols {
  float: left;
  margin-right: 20px;
}
/* line 29, ../sass/print.scss */
.top .cols a {
  text-decoration: none;
  color: #6e6e6e;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 10px;
  display: block;
}
@media screen and (max-width: 768px) {
  /* line 29, ../sass/print.scss */
  .top .cols a {
    font-size: 12px;
  }
}
/* line 39, ../sass/print.scss */
.top .cols a:hover {
  text-decoration: underline;
}
/* line 45, ../sass/print.scss */
.top .email a {
  background: url(../img/ico-email.png) no-repeat left;
}
/* line 50, ../sass/print.scss */
.top .cs a {
  background: url(../img/ico-phone.png) no-repeat left;
}
@media screen and (max-width: 768px) {
  /* line 54, ../sass/print.scss */
  .top .confirm {
    margin-right: 10px;
  }
}
/* line 58, ../sass/print.scss */
.top .confirm a {
  background: #ffadaf;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 25px 10px;
}
@media screen and (max-width: 768px) {
  /* line 58, ../sass/print.scss */
  .top .confirm a {
    padding: 10px 5px;
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  /* line 70, ../sass/print.scss */
  .top .notif {
    margin-right: 0px;
  }
}
/* line 74, ../sass/print.scss */
.top .notif a {
  background: url(../img/ico-bell.png) no-repeat left;
}
@media screen and (max-width: 768px) {
  /* line 74, ../sass/print.scss */
  .top .notif a {
    font-size: 11px;
  }
}
/* line 81, ../sass/print.scss */
.top .cols-act {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 85, ../sass/print.scss */
.top .cols-act .cols {
  margin: 5px 0;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  /* line 85, ../sass/print.scss */
  .top .cols-act .cols {
    padding: 0 5px;
  }
}
/* line 91, ../sass/print.scss */
.top .cols-act .cols a {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 91, ../sass/print.scss */
  .top .cols-act .cols a {
    font-size: 11px;
  }
}
/* line 97, ../sass/print.scss */
.top .cols-act .cols:first-child {
  border-right: 1px solid #333;
}
/* line 100, ../sass/print.scss */
.top .cols-act .cols:last-child {
  margin-right: 0;
}

/* line 108, ../sass/print.scss */
.nav-wrapper .desktop {
  padding: 30px 0;
}
/* line 110, ../sass/print.scss */
.nav-wrapper .desktop .col-left {
  padding-top: 15px;
}
/* line 112, ../sass/print.scss */
.nav-wrapper .desktop .col-left .logo {
  display: inline-block;
}
/* line 115, ../sass/print.scss */
.nav-wrapper .desktop .col-left .menus {
  display: inline-block;
  margin-left: 30px;
}
/* line 118, ../sass/print.scss */
.nav-wrapper .desktop .col-left .menus ul {
  padding: 0;
  margin: 0;
}
/* line 121, ../sass/print.scss */
.nav-wrapper .desktop .col-left .menus ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
}
/* line 126, ../sass/print.scss */
.nav-wrapper .desktop .col-left .menus ul li a {
  color: #ffadaf;
  text-decoration: none;
}
/* line 129, ../sass/print.scss */
.nav-wrapper .desktop .col-left .menus ul li a:hover {
  color: #6e6e6e;
}
/* line 138, ../sass/print.scss */
.nav-wrapper .desktop .col-right .search-wrapp-col {
  width: 80%;
  float: left;
  margin-right: 10px;
}
/* line 143, ../sass/print.scss */
.nav-wrapper .desktop .col-right .search-wrap {
  float: right;
  width: 80%;
}
/* line 146, ../sass/print.scss */
.nav-wrapper .desktop .col-right .search-wrap .search {
  position: relative;
}
/* line 148, ../sass/print.scss */
.nav-wrapper .desktop .col-right .search-wrap .search input {
  background: #f5f9fc;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
/* line 155, ../sass/print.scss */
.nav-wrapper .desktop .col-right .search-wrap .search button {
  position: absolute;
  background: none;
  border: none;
  right: 5%;
  top: 25%;
}
/* line 164, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico-wrap {
  width: 15%;
  float: left;
}
/* line 168, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico {
  margin-top: 15px;
  float: right;
}
/* line 171, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico ul {
  padding: 0;
  margin: 0;
}
/* line 174, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
/* line 179, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico ul li:last-child {
  margin-right: 0;
}
/* line 182, ../sass/print.scss */
.nav-wrapper .desktop .col-right .list-ico ul li .info {
  position: absolute;
  right: -5px;
  top: -10px;
  font-size: 10px;
  text-align: center;
  background: #ffadaf;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
}
/* line 202, ../sass/print.scss */
.nav-wrapper .mobile .search-wrap .search {
  position: relative;
}
/* line 204, ../sass/print.scss */
.nav-wrapper .mobile .search-wrap .search input {
  background: #f5f9fc;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
/* line 211, ../sass/print.scss */
.nav-wrapper .mobile .search-wrap .search button {
  position: absolute;
  background: none;
  border: none;
  right: 5%;
  top: 25%;
}
/* line 220, ../sass/print.scss */
.nav-wrapper .mobile .navbar {
  background: #fff !important;
  border: none;
}
/* line 224, ../sass/print.scss */
.nav-wrapper .mobile .navbar-header {
  padding: 10px 0;
}
/* line 227, ../sass/print.scss */
.nav-wrapper .mobile .navbar-toggle {
  margin-right: 0;
}
/* line 230, ../sass/print.scss */
.nav-wrapper .mobile .logo {
  margin-top: 15px;
}
/* line 233, ../sass/print.scss */
.nav-wrapper .mobile .list-ico-wrap {
  float: right;
}
/* line 236, ../sass/print.scss */
.nav-wrapper .mobile .list-ico {
  margin-top: 15px;
}
/* line 238, ../sass/print.scss */
.nav-wrapper .mobile .list-ico ul {
  padding: 0;
  margin: 0;
}
/* line 241, ../sass/print.scss */
.nav-wrapper .mobile .list-ico ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
/* line 246, ../sass/print.scss */
.nav-wrapper .mobile .list-ico ul li .info {
  position: absolute;
  right: -5px;
  top: -10px;
  font-size: 10px;
  text-align: center;
  background: #ffadaf;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
}

/* line 266, ../sass/print.scss */
.top-banner .slider-wrapper {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}
/* line 269, ../sass/print.scss */
.top-banner .slider-wrapper .prev {
  position: absolute;
  top: 50%;
  z-index: 9;
  background: url(../img/arrow-prev.png) no-repeat;
  text-indent: -9999px;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
/* line 279, ../sass/print.scss */
.top-banner .slider-wrapper .next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 9;
  background: url(../img/arrow-next.png) no-repeat;
  text-indent: -9999px;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
/* line 292, ../sass/print.scss */
.top-banner .slider-wrapper .slidex .image img {
  width: 100%;
  object-fit: cover;
}

/* line 301, ../sass/print.scss */
.news-product-wrapper {
  margin-top: 15px;
}
/* line 304, ../sass/print.scss */
.news-product-wrapper .tagline h3 {
  font-family: 'Segoe UI';
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
/* line 309, ../sass/print.scss */
.news-product-wrapper .tagline h3:after {
  width: 50px;
  height: 2px;
  background: #333;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
}
/* line 320, ../sass/print.scss */
.news-product-wrapper .more {
  text-align: right;
}
/* line 322, ../sass/print.scss */
.news-product-wrapper .more a {
  text-decoration: none;
  color: #ffadaf;
}
/* line 326, ../sass/print.scss */
.news-product-wrapper .more i {
  margin-left: 15px;
  color: #6e6e6e;
}
/* line 332, ../sass/print.scss */
.news-product-wrapper .list-kategori .block {
  background: url(../img/bg-kategori.jpg) no-repeat;
  height: 146px;
  background-size: cover;
  overflow: hidden;
}
/* line 338, ../sass/print.scss */
.news-product-wrapper .list-kategori .block .bg a {
  display: block;
  color: #555;
  padding-top: 20px;
}
/* line 343, ../sass/print.scss */
.news-product-wrapper .list-kategori .block .bg a .left .img {
  text-align: center;
}
/* line 345, ../sass/print.scss */
.news-product-wrapper .list-kategori .block .bg a .left .img img {
  display: inline-block;
  height: 110px;
}
/* line 352, ../sass/print.scss */
.news-product-wrapper .list-kategori .block .bg a .right .txt {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
/* line 358, ../sass/print.scss */
.news-product-wrapper .list-kategori .block .bg a .right .btn {
  margin-top: 10px;
  background: #ffadaf;
}
/* line 367, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}
/* line 373, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .slick-disabled {
  cursor: default !important;
  opacity: 0.5;
}
/* line 377, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .prev {
  position: absolute;
  top: 35%;
  left: 10px;
  z-index: 9;
  background: url(../img/arrow-prev.png) no-repeat;
  text-indent: -9999px;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
/* line 388, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .next {
  position: absolute;
  top: 35%;
  right: 10px;
  z-index: 9;
  background: url(../img/arrow-next.png) no-repeat;
  text-indent: -9999px;
  width: 30px;
  height: 40px;
  cursor: pointer;
}
/* line 400, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a {
  display: block;
  text-decoration: none;
  color: #6e6e6e;
  padding: 0 10px;
}
/* line 405, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .img {
  margin-bottom: 20px;
}
/* line 407, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .img img {
  border: 1px solid #eaeaea;
  width: 100%;
  height: 252px;
  object-fit: cover;
}
/* line 414, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .title {
  margin-bottom: 10px;
}
/* line 416, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .title span {
  font-weight: 600;
}
/* line 420, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .price {
  color: #ffadaf;
  font-weight: 600;
}
/* line 424, ../sass/print.scss */
.news-product-wrapper .list-product-wrapper .product-wrap .block a .disc {
  font-size: 12px;
}

/* line 433, ../sass/print.scss */
.banner-img {
  margin: 20px 0;
}
/* line 436, ../sass/print.scss */
.banner-img .img img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

/* line 446, ../sass/print.scss */
.before-footer-wrapper .cols .block {
  margin-bottom: 50px;
}
/* line 448, ../sass/print.scss */
.before-footer-wrapper .cols .block .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  color: #555555;
}
/* line 456, ../sass/print.scss */
.before-footer-wrapper .cols .block .col-wrap .img {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 1px;
}
@media screen and (max-width: 480px) {
  /* line 456, ../sass/print.scss */
  .before-footer-wrapper .cols .block .col-wrap .img {
    width: 80px;
    margin-right: 3px;
  }
}

/* line 470, ../sass/print.scss */
.pink-wrapper {
  background: #ffadaf;
  padding: 20px 0;
}
@media screen and (max-width: 480px) {
  /* line 473, ../sass/print.scss */
  .pink-wrapper .cols {
    height: 180px;
    text-align: center;
  }
  /* line 478, ../sass/print.scss */
  .pink-wrapper .cols:nth-child(2) .block {
    border: none;
  }
  /* line 482, ../sass/print.scss */
  .pink-wrapper .cols:nth-child(3) {
    height: auto;
  }
  /* line 485, ../sass/print.scss */
  .pink-wrapper .cols:last-child {
    height: auto;
  }
}
/* line 490, ../sass/print.scss */
.pink-wrapper .cols:last-child .block {
  border: none;
}
/* line 494, ../sass/print.scss */
.pink-wrapper .cols .block {
  color: #fff;
  border-right: 1px solid #fff;
}
/* line 497, ../sass/print.scss */
.pink-wrapper .cols .block .img {
  font-size: 40px;
}
/* line 501, ../sass/print.scss */
.pink-wrapper .cols .block .txt h4 {
  font-weight: bold;
  margin-bottom: 0;
}
/* line 505, ../sass/print.scss */
.pink-wrapper .cols .block .txt a {
  color: #fff;
}

/* line 513, ../sass/print.scss */
.top-bottom-wrapper {
  padding: 50px 0 30px;
}
@media screen and (max-width: 480px) {
  /* line 515, ../sass/print.scss */
  .top-bottom-wrapper .logo {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 519, ../sass/print.scss */
  .top-bottom-wrapper .logo .img {
    display: inline-block;
  }
}
@media screen and (max-width: 480px) {
  /* line 525, ../sass/print.scss */
  .top-bottom-wrapper .sosmed-wrap {
    margin: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 529, ../sass/print.scss */
  .top-bottom-wrapper .sosmed-wrap .block {
    float: none !important;
    margin-top: 40px;
  }
}
/* line 534, ../sass/print.scss */
.top-bottom-wrapper .sosmed-wrap .block p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 534, ../sass/print.scss */
  .top-bottom-wrapper .sosmed-wrap .block p {
    display: block;
    text-align: left;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}
/* line 549, ../sass/print.scss */
.top-bottom-wrapper .sosmed-wrap .block ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 553, ../sass/print.scss */
.top-bottom-wrapper .sosmed-wrap .block ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  /* line 553, ../sass/print.scss */
  .top-bottom-wrapper .sosmed-wrap .block ul li {
    font-size: 30px;
    margin-right: 40px;
  }
  /* line 561, ../sass/print.scss */
  .top-bottom-wrapper .sosmed-wrap .block ul li:last-child {
    margin-right: 0;
  }
}
/* line 565, ../sass/print.scss */
.top-bottom-wrapper .sosmed-wrap .block ul li a {
  color: #697687;
}

/* line 574, ../sass/print.scss */
.footer {
  background: #eaeaea;
  padding: 50px 0;
}
/* line 577, ../sass/print.scss */
.footer .cols {
  color: #697687;
  font-family: 'Roboto', sans-serif;
}
/* line 580, ../sass/print.scss */
.footer .cols .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #555;
}
/* line 590, ../sass/print.scss */
.footer .cols .desc .list-block {
  font-weight: 500;
}
/* line 592, ../sass/print.scss */
.footer .cols .desc .list-block i {
  margin-right: 10px;
  margin-top: 10px;
}
/* line 596, ../sass/print.scss */
.footer .cols .desc .list-block a {
  color: #697687;
}
/* line 602, ../sass/print.scss */
.footer .cols .menus ul {
  padding: 0;
  margin: 0;
}
/* line 605, ../sass/print.scss */
.footer .cols .menus ul li {
  list-style: none;
  text-transform: capitalize;
  font-weight: 500;
  margin: 20px 0;
}
/* line 610, ../sass/print.scss */
.footer .cols .menus ul li a {
  color: #697687;
  text-decoration: none;
}
/* line 618, ../sass/print.scss */
.footer .cols .blog-wrapper .block {
  margin-bottom: 20px;
}
/* line 620, ../sass/print.scss */
.footer .cols .blog-wrapper .block .img {
  padding-right: 0;
}
/* line 622, ../sass/print.scss */
.footer .cols .blog-wrapper .block .img img {
  width: 100%;
  object-fit: cover;
  height: 57px;
}
/* line 628, ../sass/print.scss */
.footer .cols .blog-wrapper .block .text {
  text-transform: capitalize;
  font-weight: 500;
  line-height: normal;
}
/* line 632, ../sass/print.scss */
.footer .cols .blog-wrapper .block .text a {
  color: #697687;
}
/* line 636, ../sass/print.scss */
.footer .cols .blog-wrapper .block .date {
  font-size: 10px;
}

/* line 643, ../sass/print.scss */
.bottom-footer {
  background: #555555;
  color: #fff;
  padding: 10px 0;
}
/* line 647, ../sass/print.scss */
.bottom-footer p {
  margin-bottom: 0;
}
